.md-typeset h1 {
    font-weight: 650;
    color: black;
}

.md-typeset h2 {
    font-weight: 650;
    color: black;
}

.md-typeset h3 {
    font-weight: 650;
    color: black;
}


.md-typeset h4 {
    font-weight: 400;
    color: black;
}